# Django settings
SECRET_KEY=your_secret_key_here
DEBUG=True

POSTGRES_HOST=database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_DB=dfs_db
POSTGRES_ENGINE=django.db.backends.postgresql
