DEBUG=1
SECRET_KEY=django-insecure-$x-&$5r%xnmap3q@7spw)#ti@7wfq1ez8hl45bw8i)xmad0!o3
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 167.71.59.122

POSTGRES_HOST=database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_DB=dfs_db
POSTGRES_ENGINE=django.db.backends.postgresql
